 <footer class="main-footer mt-5 pt-4 ">
	  <div class="container">
		  <div class="row">
		  	<div class="col">
				<h3>Entre em Contato</h3>
				<address>
					+55 11 2222-3333
					<br/>
					<a href="mailto:{{contato_email}}" class="text-light">{{contato_email}}</a>
				</address>

		  	</div>
		  </div>
	  </div>
	  <div class="rights pb-1">


	  <div class="container">
		  <div class="row">
		  	<div class="col">
				{% now 'Y' %} Django Pro. Todis direits reservadis.
		  	</div>
		  </div>
	  </div>
	  </div>
  </footer>
